---
import Layout from "../Layout.astro"
---

<Layout title="404" desc="page not found">
    <div class="h-[90vh] w-full flex flex-col items-center justify-center text-2xl text-[#505050] space-y-3">
        <a href="/" class="hover:underline">&lt;- back to home</a>
    </div>
</Layout>