---
import Layout from '../Layout.astro'
---

<Layout title="daniel yang" description="">
    <div class="w-[700px] max-w-[80vw] mx-auto text-xl text-justify my-10">
        <h1 class="text-3xl my-5 text-white">Daniel Yang</h1>
        <p class="text-[#757377]">
            Hi! My name is Daniel and I'm a junior at Stuyvesant. Most people know me for my photography, but my main passion is software engineering.
            <br><br>
            I started coding in elementary school with game dev in Scratch, making simple games to entertain me and my brother. I tried progressing in middle school with Unity and C#, but I couldn't manage to make anything without a tutorial.
            <br><br>
            It wasn't until sophomore year of highschool that I began to build projects by myself. I made things like scripts to predict my Spotify Wrapped with python and recreations of my old Scratch games using Godot. 
            <br><br>
            Starting my own club also motivated me to make our website, which introduced me to frameworks like React / Next and Tailwind. I also trained a lot of my programming skills with Leetcode, and I'm thinking about competing in USACO.  
            <br><br>
            Currently, I mainly focus on web development with Next, but I'm also experimenting with other frameworks like Astro, which is what this site is built with. I also have a lot of random side projects that I work on whenever something interests me.
        </p>
    </div>
</Layout>