---
import Layout from "../Layout.astro"
---

<Layout title="Daniel Yang" description="" icon="/banana.svg">
    <div class="h-[90vh] w-full flex items-center justify-center text-4xl" id="wrapper">
        { "{username}".split("").map(e => <h1 class="text hidden">{e == " " ? "\u00A0" : e}</h1>) }
    </div>
    <script>
        import anime from "animejs/lib/anime.es.js"

        // text typing animation
        document.querySelectorAll(".text").forEach((e, i) => {
            setTimeout(() => {
                e.classList.remove("hidden")
            }, i * 150 + 1000)
        })
        
        const letterWidth = 23.4
        const wrapper = document.querySelectorAll("#wrapper")[0]

        // text collapsing animation
        anime({
            targets: ".text",
            translateX: {value: (e: Element, i: number) => letterWidth * (4.5 - i), duration: 500},
            opacity: {value: 0, delay: 3300, duration: 200},
            easing: "easeInBack",
            delay: 3000,
            complete: () => {
                // adding new letters
                wrapper.innerHTML = ""

                "danielwzyang".split("").forEach(e => {
                    const letter = document.createElement("h1")
                    letter.classList.add("text")
                    letter.classList.add("opacity-0")
                    letter.innerHTML = e == " " ? "\u00A0" : e
                    wrapper.appendChild(letter)
                })
                
                // text expanding animation
                anime({
                    targets: ".text",
                    translateX: [(e: Element, i: number) => letterWidth * (5.5 - i), 0],
                    opacity: {value: 1, duration: 100},
                    easing: "easeOutBack",
                    duration: 500,
                    endDelay: 200,
                    complete: () => {
                        // text moving animation
                        anime({
                            targets: wrapper,
                            easing: "easeOutQuint",
                            height: "100px"
                        })
                    }
                })
            }
        })

    </script>
</Layout>