---
interface Props {
    title: string
    date: string
    desc: string
    slug: string
}

const { title, date, desc, slug } = Astro.props
---

<div class="w-full hover:shadow-lg hover:shadow-[#75757528] border border-[#505050] rounded-xl relative py-5 px-7">
    <a href={"/portfolio/" + slug}>
        <h1 class="text-lg">{title}</h1>
        <h1 class="text-[#929292]">{date}</h1>

        <p class="mt-3 text-sm text-[#505050]">{desc}</p>
    </a>
</div>
