---
interface Props {
	title: string
    date: string
    description: string
    slug: string
}

const { title, date, description, slug } = Astro.props
---

<div class="w-[500px] max-w-[85vw] hover:shadow-lg hover:shadow-[#75757528] border border-[#505050] rounded-xl relative py-5 px-7">
    <a href={"projects/" + slug}>
        <h1 class="text-xl">{title}</h1>
        <h1 class="text-[#929292]">{date}</h1>
        
        <p class="mt-3 text-sm text-[#505050]">{description}</p>
    </a>
</div>