---
import Layout from "../../Layout.astro";
import Project from "../../components/project.astro";
---

<Layout title="Projects" description="Some of my projects">
    <div class="mt-5 flex flex-wrap justify-center gap-5">
        <Project
            title="stuy donated apparel"
            date="october 2024"
            description="club website using NextJS, TailwindCSS, Framer Motion, Cloudinary, and Firestore"
            slug="sda"
        />

        <Project
            title="flood relief network"
            date="september 2024"
            description="club website using NextJS, TailwindCSS, Google Calendar API, and shadcn/ui"
            slug="floodrelief"
        />

        <Project
            title="apcsa solutions"
            date="september 2024"
            description="solutions website using HTML, JS, TailwindCSS, and Python"
            slug="floodrelief"
        />

        <Project
            title="spotify wrapped predictor"
            date="august 2024"
            description="data parser for spotify listening history to predict spotify wrapped"
            slug="wrappedpredictor"
        />

        <Project
            title="shelfmates"
            date="august 2024"
            description="frontend website using NextJS, TailwindCSS, Python"
            slug="shelfmates"
        />

        <Project
            title="dillou"
            date="june 2024"
            description="game built in godot for final project in intro to cs class"
            slug="dillou"
        />
    </div>
</Layout>
