---
import { getCollection, type CollectionEntry } from "astro:content"
import Layout from "../../Layout.astro"
import Project from "../../components/project.astro"

const projects: CollectionEntry<"projects">[] = await getCollection("projects")
---

<Layout title="projects" desc="some of my projects">
    <div class="mx-3 mt-2 text-[#505050]">
        <a href="/" class="hover:underline">&lt;- home</a>
    </div>
    <div class="mt-5 flex flex-wrap justify-center gap-5 max-w-[95vw] mx-auto">
        {
            projects.map((e) => (
                <Project
                    title={e.data.title}
                    date={e.data.date}
                    desc={e.data.desc}
                    slug={e.slug}
                />
            ))
        }
    </div>
</Layout>
